@import "header";
@import "main";
@import "footer";


// *
// {
//     border: 1px solid #a7a7a7;
// }

html, body
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    main
    {
        flex: 1 0 auto;
    }
    footer
    {
        flex-shrink: 0;
    }
}

.inner
{
    max-width: 1200px;
    margin: 0 auto;
}


