main
{
    #aufmacher
    {
        background-image: url(../assets/img/head.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        color: $white;
        padding: 10em;
    }
}